.stickytblhead{
    position: sticky;
    top: 0; 
    background-color: #323A45;
}
.stickytblhead>tr>td{
    color: #fff;
}
.table td:first-child {
    background-color: #323A45;
    color: #00bdaa;
    position: sticky;
    left: 0;
}
.table td {
    white-space: nowrap;
}
.vh-100{
    height: 500px !important;
}